$primary-color: #ffffff;
$secondary-color: #f79802;
$tertiary-color: #0079d3;
$dark-font-color: #1c1c1c;
$light-font-color: #ffffff;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "lato", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  padding: 3rem;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 5rem;
  background-color: $secondary-color;
  font-size: 2rem;

  li {
    float: right;
    margin-right: 4%;
    font-weight: bold;
    line-height: 5rem;
    color: $primary-color;

    &:last-child {
      float: left;
      margin-left: 4%;
    }
  }
}

a {
  color: white;
  text-decoration: none;
}

.heading {
  display: flex;

  &__field-title {
    flex-basis: 0%;
    flex-grow: 2;
    font-size: 3rem;
    text-align: center;
    padding-top: 1rem;
    border-bottom: solid black;
  }

  &__players-title {
    flex-basis: 0%;
    flex-grow: 1;
    border-right: solid black;
    font-size: 3rem;
    text-align: center;
    padding-top: 1rem;
    border-bottom: solid black;
  }
}

.information {
  display: flex;

  &__column-full {
    height: calc(100vh - 12rem);
  }

  &__field {
    flex-basis: 0%;
    flex-grow: 2;
    font-size: 3rem;
    text-align: center;
    padding-top: 1rem;

    img {
      height: 98%;
      width: 80%;
    }
  }

  &__players-list {
    flex-basis: 0%;
    flex-grow: 1;
    font-size: 3rem;
    text-align: center;
    padding-top: 1rem;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 10px;

      &-track {
        background: #ddd;
        border-radius: 20px;
      }

      &-thumb {
        background: #666;
        border-radius: 20px;
      }
    }
  }
}

.player {
  &-information-header {
    display: flex;
    justify-content: space-around;
    list-style: none;
    border: solid black;
    font-weight: bold;
  }

  &-information {
    display: flex;
    justify-content: space-around;
    list-style: none;
    border: solid black;
    margin: 2rem;
  }
}

.dragging{
  background: red;
}

.player-icon-map{
  position: absolute;
  top: 500px;
  left: 500px; 
  width: 50px;
  height: 50px;
  background: rgba(30,50,80,1);
  border-radius: 50% 50%;
  color: $primary-color;
  text-align: center;
}

/*
    &__column {
        height: calc(100vh - 5rem);
    }
*/
